.ground {
    color: white;
    background-color: rgb(3, 170, 67);
}

.serveCourt {
    color: white;
    background-color: rgb(10, 151, 216);
    width: 100%;
    height: 100px;
}

.courtSize {
    width: 100%;
    height: 200px;
    padding: 30px 30px;
    align-self: center;
    text-align: center;
}