<!-- <div class="container">
    <form>
        <div class="p-3">
            <label for="PlayerName" class="form-label">Player Name</label>
            <input type="text" [(ngModel)]="currentPlayer.Name" name="currentPlayer.Name" class="form-control" id="PlayerName" aria-describedby="emailHelp">
        </div>
        <div class="row p-3">
            <div class="col-4">
                <label for="DateOfBirth" class="form-label">Date of Birth</label>
                <input type="date" [(ngModel)]="currentPlayer.DoB" name="currentPlayer.DoB" class="form-control" id="DateOfBirth" aria-describedby="emailHelp">
            </div>
            <div class="col-4">
                <label for="Gender" class="form-label">Gender</label>
                <select class="form-select" aria-label="Gender" [(ngModel)]="currentPlayer.Gender" name="currentPlayer.Gender">
                    <option selected>Select gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            <div class="col-4">
                <label for="FlatNumber" class="form-label">Flat Number</label>
                <input type="email" [(ngModel)]="currentPlayer.Flat" name="currentPlayer.Flat" class="form-control" id="FlatNumber" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="p-3 form-check">
            <button type="submit" (click)=addPlayer() class="btn btn-primary">Confirm</button>
        </div>
    </form>
</div> -->