<!-- <div class="container">
    <form>
        <div class="p-3">
            <label for="TeamName"  class="form-label">Team Name</label>
            <input type="text" [(ngModel)]="currentTeam.TeamName" name="currentTeam.TeamName" class="form-control" id="TeamnName" aria-describedby="emailHelp">
        </div>
        <div class="row p-3">
            <div class="col-6">
                <label for="exampleInputPassword1" class="form-label">Player 1</label>
                <input class="form-control" [(ngModel)]="currentTeam.Player1" name="currentTeam.Player1" list="datalistOptions" id="exampleDataList" placeholder="Select Player">
                <datalist id="datalistOptions">
                  <option *ngFor="let player of players; " value="{{player.Name}}">
                </datalist>
            </div>
            <div class="col-6">
                <label for="exampleInputPassword1" class="form-label">Player 2</label>
                <input class="form-control" [(ngModel)]="currentTeam.Player2" name="currentTeam.Player2" list="datalistOptions" id="exampleDataList" placeholder="Select Player">
                <datalist id="datalistOptions">
                  <option *ngFor="let player of players; " value="{{player.Name}}">
                </datalist>
            </div>
        </div>
        <div class="p-3 form-check">
            <button type="submit" (click)=addTeam() class="btn btn-primary">Create Team</button>
        </div>
    </form>
</div> -->