<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date of Birth </th>
            <th scope="col">Gender</th>
            <th scope="col">Flat Number</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of players; let i = index">
            <td>{{i+1}}</td>
            <td>{{player.Name}}</td>
            <td>{{player.DoB}}</td>
            <td>{{player.Gender}}</td>
            <td>{{player.Flat}}</td>
        </tr>
    </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-dark me-md-2 " (click)="goto('player/add');">Add Player</button>
</div>