<p>
    <mat-toolbar class="mat-primary">
        <button mat-icon-button class="example-icon " aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
        <span>Badminton</span>
        <span class="example-spacer"></span>
        <ul class="nav nav-pills">
            <!-- <li class="nav-item ">
                <a class="nav-link " routerLink="tournaments">Tournaments</a>
            </li> -->
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="tournaments" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tournaments
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink="tournaments/add">Add</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> 
                </ul>
            </li> -->
            <!-- <li class=" nav-item ">
                <a class="nav-link " routerLink="players">Player</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " routerLink="teams">Teams</a>
            </li> -->
            <!-- <li class="nav-item ">
                <a class="nav-link " routerLink="matches">Matches</a>
            </li> -->

            <!-- <li class="nav-item ">
            <a class="nav-link " routerLink="Profile ">User</a>
        </li> -->
        </ul>
    </mat-toolbar>


</p>