<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Player 1</th>
            <th scope="col">Player 2</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of teams; index as i;">
            <th scope=" row ">{{team.ID}}</th>
            <td>{{team.TeamName}}</td>
            <td>{{team.Player1}}</td>
            <td>{{team.Player2}}</td>
        </tr>

    </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-dark me-md-2 " (click)="goto('team/add');">Create Team</button>
</div>